.game-container {
  margin: 2em;
}

.title {
  font-size: 300%;
}

.board-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  width: 20vh;
  height: 20vh;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square {
  border-top: 0;
}

.right-square {
  border-right: 0;
}

.left-square {
  border-left: 0;
}

.bottom-square {
  border-bottom: 0;
}

.snack-image {
  width: 16vh;
}

.end-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
