.game-container {
  margin: 1em;
}

.board-row {
  display: flex;
}

.square {
  width: 20vh;
  height: 20vh;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-square {
  border-top: 0;
}

.right-square {
  border-right: 0;
}

.left-square {
  border-left: 0;
}

.bottom-square {
  border-bottom: 0;
}

.snack-image {
  width: 16vh;
}
